{% extends 'base.html.twig' %}

{% block body %}
    <h1>Toolcheckouts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for toolCheckout in toolCheckouts %}
            <tr>
                <td><a href="{{ path('_show', { 'id': toolCheckout.id }) }}">{{ toolCheckout.id }}</a></td>
                <td>{{ toolCheckout.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': toolCheckout.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_edit', { 'id': toolCheckout.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_new') }}">Create a new toolCheckout</a>
        </li>
    </ul>
{% endblock %}
